{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator Game</title>
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/1010/1010725.png" type="image/x-icon">
    <style>
        body{
            background-color: black;
        }
        section{
            margin-top: 15%;
        }
        .card{
            margin: auto;
            text-align: center;
            width: 18rem;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .card-body{
            padding-top:12px;
        }
        .btn.btn-primary{
            background-color: #3C5FA6;
            height: 35px;
        }
        .btn.btn-primary.btn-light{
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <section>
        <div class="card" {% if acertou == 1 %}style="box-shadow: 0 0 20px #3cff00;"{% elif acertou == 2 %}style="box-shadow: 0 0 20px red;"{% else %}{% endif %}>
            <div style="text-align: left; margin: 0;">
                <button type="button" class="btn btn-primary btn-light" data-toggle="modal" data-target="#exampleModal{{ user.id }}" style="margin: 15px; background-color: white; width: 20px; margin: 0px;">
                    <img src="https://png.pngtree.com/png-vector/20190120/ourlarge/pngtree-info-vector-icon-png-image_470297.jpg" width="15px">
                </button>
                {% if pontuacao > 0 %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvo7VNtD1Hvl7bDJq_mZAZ-cyoqPyJz7mQ-w&usqp=CAU" width="15px" style="padding-top: 3px;">
                    <p style="display: inline-block; margin-left: -2px; text-align: left; font-size: 11px;">{{ pontuacao }}</p>
                {% endif %}
            </div>

            <strong>{{ operation.1 }} {{ operation.0 }} {{ operation.2 }}</strong>
            <div class="modal fade" id="exampleModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informações</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Este site se trata de um jogo educacional onde você precisa acertar o máximo de cálculos matemáticos possíveis.
                        <br>
                        <br>
                      <div style="text-align: left;">
                          ▸ Os cálculos são gerados aleatoriamente, boa sorte!
                          <br>
                          ▸ Tente acertar o maximo que conseguir!
                          <br>
                          ▸ Se a sombra do bloco estiver verde, você acertou.
                          <br>
                          ▸ Se a sombra do bloco estiver vermelha, você errou.
                          <br>
                          ▸ O icone <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvo7VNtD1Hvl7bDJq_mZAZ-cyoqPyJz7mQ-w&usqp=CAU" width="10px">
                          informa quantas vezes seguidas você acertou.
                      </div>
                  </div>
                  <div class="modal-header">
                    <h5 class="modal-title">Contatos e links</h5>
                  </div>
                    <div class="modal-body">
                      <a class="btn btn-outline-light btn-floating m-1" href="https://wesley-breno.github.io/Portfolio/" target="_blank" role="button">
                          <i> <img src="https://cdn-icons-png.flaticon.com/512/3242/3242120.png" width="20"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/wesley-breno-ba2b33208/" target="_blank" role="button">
                          <i> <img src="https://cdn-icons-png.flaticon.com/512/220/220343.png" width="20"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Wesley-Breno" target="_blank" role="button">
                          <i> <img src="https://cdn1.iconfinder.com/data/icons/logos-and-brands-3/512/142_Github_logo_logos-512.png" width="21"> </i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/_wesleybreno_/" target="_blank" role="button">
                          <i> <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" width="20"> </i>
                      </a>
                    </div>
                </div>
              </div>
            </div>

            <div class="card-body" style="display: inline-block;">
                <form method="POST" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="number" style="width: 85px;" name="resposta_usuario">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'home/vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>